* {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #555;
    box-sizing: border-box;
}

:root {
    --primary-color: #b62972;
    --dark-color: #cd5794;
    --footer-color: #491a32;
}

/* navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: var(--primary-color);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

nav .logo {
    color: white;
}

li {
    list-style: none;
}

nav li .nav-link {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav .btn-login {
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #dbb9c6;
    font-weight: 500;
}

nav .btn-login:hover {
    background: #bd9ca8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* card */
.card {
    margin: 6px 0;
}

.card .column {
    width: 520px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid pink;
    box-shadow: var(--dark-color);
}

.card .column img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}